<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Parque</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        <a class="nav-link" href="#">Ventas</a>
        <a class="nav-link" href="#">Alquiler de Servicios</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/login">Ingreso de Usuario</a>
      </div>
    </div>
  </div>
</nav>
