<app-header-recepcion></app-header-recepcion>


<div class="container">
  <form class="form-container" #f = "ngForm">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Informacion</mat-card-title>
        <mat-card-subtitle>Ingreso de cliente</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <hr />

        <div class="row">
          <div class="col-md-6">
            <label for="nombre" class="mt-5 d-flex justify-content-center">
              Nombre del cliente
            </label>
            <input
              type="text"
              class="form-control mt-2"
              placeholder="Nombre del cliente"
              name="identificador_prodcuto"
              [(ngModel)]='nombre'

              required
            />
          </div>
          <div class="col-md-6">
            <label for="nombre" class="mt-5 d-flex justify-content-center">
              NIT del cliente
            </label>
            <input
              type="text"
              class="form-control mt-2"
              placeholder="Ingresa nit"
              name="password"
              [(ngModel)]='nit'

              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

            <label for="nombre" class="mt-5 d-flex justify-content-center">
              Identificador de Rol
            </label>
            <input
              type="number"
              class="form-control mt-2"
              placeholder="rol de Empleado"
              name="rol"
              [(ngModel)]='estado'
              [min]="0"
              [max]="1"
              required
            />
          </div>
          <div class="col-md-6">

            <label for="nombre" class="mt-5 d-flex justify-content-center">
              Direccion del cliente
            </label>
            <input
              type="text"
              class="form-control mt-2"
              placeholder="Direccion"
              name="sucursal"
              [(ngModel)]='ubicacion'
              [min]="1"
              [max]="3"
              required
            />
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-md-6">
        <button mat-raised-button  color="primary" (click)="enviarDatos()">Crear</button>
      </div>

        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
