<app-header-general></app-header-general>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="row">
    <div class="col-12 mb-3">
      <label class="form-label">Nombre de Usuario</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de usuario">
    </div>
    <div class="col-12 mb-3">
      <label class="form-label">Contraseña de usuario</label>
      <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Contraseña de usuario">
    </div>
    <div class="col-12">
      <button class="btn btn-primary">Ingreso</button>
    </div>
  </div>
</div>


<!---
VER COMO HACER MEJOR LA INTERFAZ
-->
