<app-header-admin></app-header-admin>

<div class="container">

  <div>
  
    <h2 class="text-center mt-5" style="color: aliceblue;" >Clientes registrados</h2>
    <table class="table table-striped table-bordered">
      <thead class="table table-dark">
        <tr>
          <th></th>
          <th class="text-center" >Nit</th>
          <th class="text-center" >Nombre</th>
          <th class="text-center" >Tipo de cliente</th>
          <th class="text-center" >Dirección</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let cliente of clientes; let i = index">
              <td>{{ i + 1 }}</td> 
              <td>{{cliente.nit}}</td>
              <td>{{cliente.nombre}}</td>
              <td class = "table-info" *ngIf="cliente.tipoCliente=='Inquilino'">Inquilino</td>
              <td class = "table-warning" *ngIf="cliente.tipoCliente=='Visitante'">Visitante</td>
              <td>{{cliente.direccion}}</td>
          </tr>
      </tbody>
    </table>
  </div>
  </div>