<app-header-recepcion></app-header-recepcion>

<mat-stepper orientation="vertical" [linear]="!isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl"
        [(ngModel)]="nit"
        name="nit"
        type="text"
        required>
      </mat-form-field>
      <div>
        <button (click)="verPorNit()" mat-button matStepperNext>Siguiente</button>
      </div>
    </form>


    <!--HAGO UN NG IF-->
<div class="container" >
  <div class="row">
    <div class="col-md-6">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Nombre de Cliente
      </label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="Código de Producto en Bodega"
        name="ProductoBodega"
        [(ngModel)]="nombreCliente"
      />
    </div>
    <div class="col-md-6">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Nit de Cliente
      </label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="Código de Producto en Bodega"
        name="ProductoBodega"
        [(ngModel)]="nit"
      />
    </div>
  </div>
</div>
    <!--GENERACION DE UNA TABLA DE CLIENTES INGRESADOS-->

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Nit</th>
			<th scope="col">Population</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let clientes of datos; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				{{ clientes.nombre }}
			</td>
			<td>{{ clientes.nit }}</td>
			<td>{{ clientes.idCliente }}</td>
		</tr>
	</tbody>
</table>



  </mat-step>



  <mat-step [stepControl]="secondFormGroup">


    <form  class="form-container" #f="ngForm">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>


      <!--TABLA PARA LAS AREAS RECREATIVAS-->
      <div class="container">
        <h1>Listado de Areas Recreativas</h1>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nit</th>
            <th scope="col">Population</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let area of areas; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ area.nombre }}
            </td>
            <td>{{ area.precio }}</td>
            <td>
              <button  mat-raised-button
              color="accent"
              (click)="areasRequeridas(area)"
              >Alquilar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <hr/>

      <!--TABLA DE AREAS SELECCIONADAS-->
      <h1>Listado de Areas Seleccionadas</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">precio por hora</th>
            <th scope="col">Fecha de Alquiler</th>
            <th scope="col">Horas de Alquiler Inicial</th>
            <th scope="col">Horas de Alquiler Final</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let nuevasAreas of areasSolicitadas; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ nuevasAreas.nombreArea }}</td>
            <td>{{ nuevasAreas.precioUnitario }}</td>
            <td>
              <input
                type="date"
                class="form-control mt-2"
                placeholder="Cantidad de Producto a Vender"
                name="fechaAlquiler"
                [(ngModel)]="nuevasAreas.fecha"
              />
            </td>
            <td>
              <input
                type="number"
                class="form-control mt-2"
                placeholder="Hora Inicial"
                name="horainicial"
                [min]="1"
                [max]="90000"
                [(ngModel)]="nuevasAreas.horaInicio"
              />
            </td>
            <td>
              <input
                type="number"
                class="form-control mt-2"
                placeholder="Hora Final"
                name="horafinal"
                [min]="1"
                [max]="90000"
                [(ngModel)]="nuevasAreas.horaFin"
              />
            </td>
          </tr>

        </tbody>
      </table>
      <!--botones de ingreso-->
      <button mat-raised-button color="primary" (click)="DeterminarValoresAreas()">Solicitar</button>
      <button mat-raised-button color="accent" (click)="verElementosGeneralesAreas()">nuevo</button>
      <button mat-raised-button color="warn" (click)="verGeneradosMismaFecha()">nuevo</button>

      <hr/>
      <div>
        <button mat-button matStepperPrevious>Regreso</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>





  <!--PASO FINAL DE LOS ELEMENTOS-->

  <mat-step>

    <!--AQUI EL INGRESO DE TABLA-->
    <div class="container">
      <h1>Recopilacion de Seleccion</h1>
    </div>
    <!--informacion del cliente-->
    <div class="container" >
      <div class="row">
        <div class="col-md-4">
          <label
            for="nombre"
            class="mt-5 d-flex justify-content-center"
          >
            Nombre de Cliente
          </label>
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Nombre Cliente"
            name="ProductoBodega"
            [(ngModel)]="nombreCliente"
            readonly
          />
        </div>
        <div class="col-md-4">
          <label
            for="nombre"
            class="mt-5 d-flex justify-content-center"
          >
            Nit de Cliente
          </label>
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Nit de cliente"
            name="ProductoBodega"
            [(ngModel)]="nit"
            readonly
          />
        </div>
        <div class="col-md-4">
          <label
            for="nombre"
            class="mt-5 d-flex justify-content-center"
          >
            Nombre de Usuario Venta
          </label>
          <input
            type="number"
            class="form-control mt-2"
            placeholder="Código de Usuario"
            name="ProductoBodega"
            [(ngModel)]="idusuarioVenta"
            readonly
          />
        </div>
      </div>
    </div>

    <!--ifnromacion de las areas-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">precio Parcial</th>
          <th scope="col">Horas</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientes of areasSolicitadas; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ clientes.nombre }}
          </td>
          <td>{{ clientes.preciosParciales }}</td>
          <td>{{ clientes.horasTotal }}</td>
          <td>{{ clientes.fecha }}</td>
        </tr>
      </tbody>
    </table>
    <div class="container" >
      <div class="row">

        <div class="col-md-6">
          <label
            for="nombre"
            class="mt-5 d-flex justify-content-center"
          >
            Detalle de Alquiler
          </label>
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Nit de cliente"
            name="ProductoBodega"
            [(ngModel)]="detalle"

          />
        </div>
        <div class="col-md-6">
          <label
            for="nombre"
            class="mt-5 d-flex justify-content-center"
          >
            Nombre de Usuario Venta
          </label>
          <input
            type="date"
            class="form-control mt-2"
            placeholder="Código de Usuario"
            name="ProductoBodega"
            [(ngModel)]="fecha"


          />
        </div>
      </div>
    </div>

    <button mat-raised-button color="warn" (click)="generarFactura()">Ingreso Factura</button>
    <button mat-raised-button color="warn" (click)="ingresoParaVentas()">Obtencion Factura</button>
    <button mat-raised-button color="warn" (click)="ingresoVentas(this.idFacturaActual)">Generacion Venta</button>


    <!--SOLO BOTONES DE MOVIMIENTO-->
    <div>
      <button mat-button matStepperPrevious>Regreso</button>
      <button mat-button (click)="stepper.reset()">Reiniciar</button>
    </div>
  </mat-step>
</mat-stepper>
