<div class="container">
    <h1  class="text-center mt-2 mb-4" style="color: aliceblue;">Anuncios</h1>    
    
    
    <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let anuncio of anuncios">
          <div class="card" style="width: 15rem;">
            <img src="../../../../assets/img/anuncio.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{ anuncio.titulo }}</h3>
              <p class="card-text">{{ anuncio.descripcion }}</p>
              <h5 class="card-title">Publicado: {{ anuncio.fechaPublicacion }}</h5>
            </div>
          </div>
        </div>
      </div>
    
      

</div>