<app-header-admin></app-header-admin>

<div class="container">
  
    <h2 class="text-center mt-5" style="color: aliceblue;" >Áreas dentro del parque</h2>
    <div>
      <button type="button" class="btn btn-success btn-sm mb-3" (click)="crearArea()" >Agregar área</button>
      <button type="button" class="btn btn-success btn-sm mb-3 ms-3">Agregar tipo de área</button>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="table table-dark">
        <tr>
          <th></th>
          <th class="text-center" >Nombre</th>
          <th class="text-center" >Tipo</th>
          <th class="text-center" >Precio</th>
          <th class="text-center" >Capacidad</th>
          <th class="text-center" >Hora de apertura</th>
          <th class="text-center" >Hora de cierre</th>
          <!--<th class="text-center" >Descripción</th>-->
          <th class="text-center" >Opciones</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let area of areas; let i = index">
              <td>{{ i + 1 }}</td> 
              <td>{{area.nombre}}</td>
              <td>{{area.tipoArea}}</td>
              <td>Q.{{area.precio}}</td>
              <td>{{area.capacidad}}</td>
              <td>{{area.horaInicio}}</td>
              <td>{{area.horaFin}}</td>
              <!--<td>{{area.descripcion}}</td>-->
              <td>
                <button type="button" class="btn btn-outline-primary btn-sm ">Editar</button>
              </td> 
          </tr>
      </tbody>
    </table>
  </div>
  